<?xml version="1.0"?>
<!--
/**
 * HandH Lazyload
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="HandH_Lazyload::system_menu" title="Lazyload" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>